body {
      font-family: Arial, sans-serif;
      background: linear-gradient(135deg, #e3f2fd, #bbdefb);
      padding: 20px;
    }
    h1 {
      color: #0d47a1;
      font-size: 45px;
      font-weight: 800;
      margin-bottom: 20px;
    }
    .ps{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
    .timer {
      background: #ffffff;
      padding: 20px;
      width: 650px;
      margin-bottom: 20px;
      border-radius: 16px;
      box-shadow: 0 8px 20px rgba(13,71,161,0.15);
      border-left: 16px solid #1976d2;
    }
    .timer h3 {
      color: #1565c0;
      margin-bottom: 10px;
    }
    .timer p {
      font-size: 16px;
      margin: 6px 0;
    }
    .time {
      font-weight: bold;
      font-size: 18px;
      color: #0d47a1;
    }
    .cost {
      font-weight: bold;
      color: #1a237e;
    }
    button {
    margin: 10px 0;
      padding: 12px 14px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-size: 18px;
      transition: 0.2s;
    }
    button:hover {
      transform: scale(1.05);
      opacity: 0.9;
    }
    .tarif-btn {
      background: #e3f2fd;
      color: #0d47a1;
      margin-right: 6px;
    }
    .tarif-btn.active {
      background: #1976d2;
      color: #ffffff;
      box-shadow: 0 4px 10px rgba(25,118,210,0.4);
    }
    .timer button:last-child {
      background: #d32f2f;
      color: #fff;
    }
    .timer button:nth-last-child(2) {
      background: #1976d2;
      color: #fff;
      margin-right: 6px;
    }